.new-animal {
  display: none;
}

#animal-display {
  display: none;
}

.jumbotron {
  /*min-height: 550px;*/
  background: url("../img/dog.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 20%;
  padding-bottom: 25%;
}

#jumbotron-text {
  margin-top: -20%;
  text-align: center;
  color: white;
}

#options {
  margin-top: 13%;
}

.row {
  height: 400px;
}
.col-xs-4 {
  border: 1px solid red;
  width: 30%;
}

.col-xs-4 img {
  width: 100%;
}
